*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --lightgrey: rgba(62, 61, 61);
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 30%;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    background-color: var(--lightgrey);
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.dash-container{
    text-align: center;
    width: 100px;
}
.dash{
    color: rgb(191, 190, 190);
    margin-top: 120px;
}
.expand{
padding-left: -20px;
margin-top: 10px;
}
.divas{
    display: flex;
 justify-content: space-between;
 align-items: center;
 justify-items: center;
    padding: 0 40px;
    margin: 20px 0;
}
.diva{
    width: 50px;
    height: 50px;
    background-color: var(--lightgrey);
    border: 1px solid --lightgrey;
    border-radius: 50%;
    padding: 15px 17px;
    margin: 5px;
   
}
.diva1{
    background-color: red;
}
.nos{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}